
<head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
        <link href="/formcss.css" rel="stylesheet"/>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="/globall.js"></script>
            <script src="/global.js"></script>
        <script src="/userhomepage.js"></script>
    <script src="/logincheck.js"></script>
    <script src="/groupIDpopulate.js"></script>
</head>
<body>
<span id="globle">

</span>
<span id="globle1">

</span>
<span id="globle2">

</span>
<span id="globle3">

</span>

</body>