<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>Home</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
    <link href="/formcss.css" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="/jquerry.js" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/groupIDpopulate.js"></script>
    <script src="/userIDpopulate.js"></script>
    <script src="/debt.js"></script>
</head>
<body><br />
<div class="container">
    <h2> Splitwise Home </h2>

    <form method="GET" target="_blank" _lpchecked="1">
        <input list="names" placeholder="write User id to know debt" type="text" id="useridname" class ="required autofocus" name="userId" autocomplete="off"/>

        <datalist id="names">
        </datalist><button type="button" id="submit" onclick="document.getElementById('sp').innerHTML=myFunction()">User Debt</button>
        <span id="sp"></span><span id="sr"></span>
    </form>
    <form method="GET" target="_blank" action="http://localhost:8080/homepage" _lpchecked="1">

        <input list="names" placeholder="write User id to know all detail" type="text" id="useridname" class ="required autofocus" name="id" autocomplete="off"/>
        <datalist id="names">
        </datalist><button type="submit" id="submit">User Details</button>
    </form>
    <form method="GET" target="_blank" action="http://localhost:8080/group/settleUp" _lpchecked="1">
        <input list="names" placeholder="Group ID:" type="text" id="groupId" class ="required autofocus" name="groupId" autocomplete="off"/>
            <datalist id="names">
            </datalist>
            <!--<input type="text" id="id" placeholder="Write group ID here" name="id" />-->
            <button type="submit" id="submit">Settle up group</button>
    </form>
    <form method="GET" target="_blank" action="http://localhost:8080/group/showSplits" _lpchecked="1">
        <fieldset>
            <input list="names" placeholder="Write group ID to know splits"   type="text" id="groupId" class ="required autofocus" name="groupId" autocomplete="off"/>
            <datalist id="names">
            </datalist>
            <!--<input type="text" id="id" name="id" />-->
            <button type="submit" id="submit">Group Splits</button></fieldset>
    </form>
    <form method="GET" target="_blank" action="http://localhost:8080/group" _lpchecked="1">
        <fieldset>
            <input list="names" placeholder="Group HomePage" name="groupId"  type="text" id="groupId" class ="required autofocus" autocomplete="off"/>
            <datalist id="names">
            </datalist>
            <button type="submit" id="submit">Group details</button></fieldset>
        <fieldset>
            <button type="button" name="Login/Register" onclick="window.location='http://localhost:8080/user'" id="contact-submit" data-submit="...Sending">Login/Register</button>
            <button type="button" name="Make new group" onclick="window.location='http://localhost:8080/group/save'" id="contact-submit" data-submit="...Sending">Make new group</button>
            <button type="button" name="Make new Transaction" onclick="window.location='http://localhost:8080/transaction/save'" id="contact-submit" data-submit="...Sending">New Transaction</button>
        </fieldset>
    </form>



</div>
<div id="postResultDiv">
</div>
</body>
</html>