<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>New user</title>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <link href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet"></link>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
    <script type="text/javascript" src="/jquerry.js" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="MultipleUserPopulate.js"></script>
    <script src="Userpopulate.js"></script>
    <link href="/formcss.css" rel="stylesheet"/>
    <script src="/global.js"></script>
    <script src="/globall.js"></script>
    <script src="/logincheck.js"></script>
    <style>/*
        button {
            padding:10px
        }*/
    label {
        cursor:pointer
    }
    #form-switch {
        display:none
    }
    #contact{
        display:none
    }
    #form-switch:checked~#contact {
        display:block
    }
    #form-switch:checked~#login-form {
        display:none
    }
    </style>

    <script src="postrequestUser.js"></script>

</head>
<body><br />
<div class="container">

    <span id="w"></span>
    <input type='checkbox' id='form-switch' />
    <span id="loginSpan1"></span>
    <form method="GET" target="http://localhost:8080/user/profile" id='login-form'>
        <h1>Splitwise</h1>
        <h2>Login existing user : </h2>

        <fieldset>
            <input list="names" placeholder="User Name:" id="login" type="text" autocomplete="off" tabindex="1" class ="required autofocus" name="id"   />
            <datalist id="names">
            </datalist>
        </fieldset>
        <span id="loginSpan"></span>
        <span id="loginSpan11"></span>
        <fieldset><!--
            <script>
                function gg() {

                }
            </script>-->

            <button type="button" id="loginSubmit" onclick="loginsubmitclick()">Login</button>
        </fieldset>
        <!--<fieldset>
            </fieldset>-->
        <label for='form-switch'><span>Register</span></label>
    </form>
    <form id='contact' action="" method='post'>
        <h1>Splitwise</h1>
        <h2>Register new user : </h2>
        <fieldset>
            <input placeholder="User name:" id="name" type="text" tabindex="1" class ="required autofocus" name="name"   />
        </fieldset>
        <fieldset>
            <input placeholder="EMail:" id="emailId" type="email" tabindex="1" class ="required autofocus" name="emailId"  />
        </fieldset>
        <fieldset>
            <input placeholder="Phone Number:" id="phoneNumber" type="number" tabindex="1" class ="required autofocus" name="phone number" />
        </fieldset>
        <fieldset>
            <input placeholder="Age:" id="age" type="number" tabindex="1" class ="required autofocus" name="Age" />
        </fieldset>
        <fieldset>
            <button type="submit" id="postBtn" class="btn btn-primary">Submit</button>
        </fieldset>
        <!--<fieldset>
            <button type="button" name="Make new group" onclick="window.location='http://localhost:8080/group/save'" id="contact-submit" data-submit="...Sending">Make new group</button>
            <button type="button" name="New transaction" onclick="window.location='http://localhost:8080/transaction/save'" id="contact-submit" data-submit="...Sending">New Transaction</button>
            <button type="button" name="Home" onclick="window.location='http://localhost:8080/'" id="contact-submit" data-submit="...Sending">Homepage</button>
        </fieldset>-->
        <label for='form-switch'>Already Member? Sign in</label>
    </form>

</div>
</body>
</html>