<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>New group</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
    <link href="/formcss.css" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/userIDpopulate.js"></script>
    <script src="/loginlogout.js"></script>
    <script src="/postrequestGroup.js"></script>
</head>
<body onload="logilogo()"><br />
<div class="container">

    <button type="button" class="topcorner"  id="loginn" onclick="nction()">Login</button>
    <button type="button" class="topcorner"  id="logoutt" onclick="ncion()">Logout</button>
    <button type="button" class="homepagee"  id="homepage" onclick="window.location='http://localhost:8080/homepage?id='+localStorage.getItem('id1')">Splitwise</button>

    <form id="contact">
        <h1>Splitwise</h1>
        <h2>Make new group : </h2>


        <fieldset>
            <input id="groupname" placeholder="Group Name: " type="text" class ="required autofocus" name="id" autocomplete="off"/>
        </fieldset>

        <fieldset>
            <button type="submit" id="postBtn" class="btn btn-primary">Add</button>
        </fieldset>

    </form>

    <div id="postResultDiv">
    </div>
    <br/>

    <div id="getResultDiv">
        <ul class="list-group">
        </ul>
    </div>

</div>
</body>
</html>