<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Your homepage</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
    <link href="/formcss.css" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/globall.js"></script>
    <script src="/userhomepage.js"></script>
    <script>
        function getvari() {
            var query = window.location.href;
            var lli = query.split('=');
            f = lli[1];
        }
        function getuserid(){
            return f;
        }
    </script>

</head>
<body onload="func()"><br />
<div class="container">
    <form id="contact">
        <h1>Splitwise</h1>
        <h2> </h2>
        <fieldset>
            <span id = "span1"></span><br />
            <span id = "span2"></span><br />
            <span id = "span3"></span>
        </fieldset>
        <fieldset>
            <button type="button" name="Logout" onclick="logoutclick()" id="logout" data-submit="...Sending">Logout</button><span id="logo"></span>
            <button type="button" name="Login/Register" onclick="window.location='http://localhost:8080/user'" id="contact-submit" data-submit="...Sending">Login/Register</button>
            <button type="button" name="Make new transaction" onclick="window.location='http://localhost:8080/transaction/save'" id="contact-submit" data-submit="...Sending">New transaction</button>
            <button type="submit" name="Home" onclick="window.location='http://localhost:8080/'" id="contact-submit" data-submit="...Sending">Homepage</button>
        </fieldset>
    </form>

    <div id="postResultDiv">
    </div>
    <br/>

    <div id="getResultDiv">
        <ul class="list-group">
        </ul>
    </div>

</div>
</body>
</html>